/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
}

/* BASE STYLES */
body {
  height: 100%;
  margin: 3.5rem 1.5rem 2rem;
  background: hsl(226, 43%, 10%);
  font-family: "Rubik", sans-serif;
  color: white;
}

/* GRID LAYOUT */
.dashboard__activities-grid {
  display: grid;
}

/* UTILITIES*/
.flex {
  /* used in script.js */
  display: flex;
  align-items: center;
}

/* HEADER */
.dashboard__header {
  background: hsl(235, 46%, 20%);
  border-radius: 12px;

  & div {
    display: flex;
    align-items: center;
    padding: 1.8rem;
    background: hsl(246, 80%, 60%);
    border-radius: 12px;
    color: inherit;
  }

  & .dashboard__pic {
    max-width: 4.2rem;
    margin-right: 1.1rem;
    border: 2.5px solid white;
    border-radius: 100%;
  }
}

/* HEADER NAVIGATION */
.dashboard__nav {
  padding: 1.5rem;

  & ul {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: center;
    gap: 2.5em;
  }

  & button {
    background: transparent;
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 0.2px;
    color: hsl(235, 45%, 61%);
    border: none;
  }

  & .active {
    color: white;
  }

  & button:hover {
    cursor: pointer;
    color: white;
  }
}

/* TYPOGRAPHY */
.dashboard__user {
  font-size: 1.5rem;
  letter-spacing: 0.125px;
  font-weight: 300;

  & span {
    display: block;
    font-size: 0.9rem;
    font-weight: 400;
    color: hsl(236, 100%, 87%);
  }
}

.dashboard__activity-title {
  font-size: 1.1rem;
  font-weight: 500;
}

/* CARD COMPONENTS */
.dashboard__component {
  width: 100%;
  border-radius: 12px;
  padding: 1.8rem 1.5rem;
  margin-bottom: 4rem;
  font-weight: 300;
  background: hsl(235, 46%, 20%);
  position: relative;

  & div {
    justify-content: space-between;
  }

  & header {
    justify-content: space-between;
    margin-bottom: 0.5rem;
  }

  & .ellipsis {
    z-index: 100;
    width: auto;
    fill: #bbc0ff;
  }

  & .ellipsis:hover {
    cursor: pointer;
    fill: white;
  }

  & p {
    font-size: 0.95rem;
    color: hsl(236, 100%, 87%);
  }

  & .current-hours {
    font-size: 2rem;
    color: white;
  }
}

/* ensures correct space above first component and under last component */
.dashboard__component:first-child {
  margin-top: 4rem;
}

.dashboard__component:last-child {
  margin-bottom: 0;
}

.dashboard__component::before {
  content: "";
  z-index: -1;
  width: inherit;
  transform: translate(-1.5rem, -68px);
  height: 80px;
  position: absolute;
  background-size: 75px;
  background-repeat: no-repeat;
  background-position: right 16px top -10px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.dashboard__component:hover {
  cursor: pointer;
  background: hsl(235, 45%, 61%);
}

/* CARD COMPONENTS - Background & Icon Styling */
.work::before {
  background-color: hsl(15, 100%, 70%);
  background-image: url(images/icon-work.svg);
}

.play::before {
  background-color: hsl(195, 74%, 62%);
  background-image: url(images/icon-play.svg);
}

.study::before {
  background-color: hsl(348, 100%, 68%);
  background-image: url(images/icon-study.svg);
}

.exercise::before {
  background-color: hsl(145, 58%, 55%);
  background-image: url(images/icon-exercise.svg);
  background-position: right 16px top 0;
}

.social::before {
  background-color: hsl(264, 64%, 52%);
  background-image: url(images/icon-social.svg);
  background-position: right 16px top -16px;
}

.self-care::before {
  background-color: hsl(43, 84%, 65%);
  background-image: url(images/icon-self-care.svg);
  background-position: right 16px top -17px;
}

/* FOOTER */
.attribution {
  text-align: center;
  font-size: 0.7rem;
  color: hsl(235, 45%, 61%);
  margin: 3rem 0 1rem;

  & a {
    color: inherit;
  }
}

@media screen and (min-width: 600px) {
  body {
    margin-bottom: 0;
  }

  .dashboard__activities-grid {
    display: grid;
    column-gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
  }

  .dashboard__component {
    margin-top: 4rem;
    margin-bottom: 0;

    & header {
      margin-bottom: 1.5rem;
    }
  }

  .dashboard__component:first-child,
  .dashboard__component:last-child {
    margin-top: 4rem;
  }

  .dashboard__component::before {
    width: inherit;
  }

  .current-hours {
    margin-bottom: 0.8rem;
  }

  .times-tracked {
    flex-direction: column;
    align-items: start;
  }

  .attribution {
    margin: 6rem 0 1rem;
  }
}

@media screen and (min-width: 900px) {
  body {
    margin: 14rem 0 0;
  }

  .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dashboard-grid {
    max-width: 77%;
    display: grid;
    gap: 1.8rem;
    grid-template-columns: minmax(13rem, 17.5vw) 56vw;
  }

  .dashboard__header {
    & div {
      flex-direction: column;
      align-items: start;
      padding-bottom: 5rem;
    }

    & .dashboard__pic {
      max-width: 5rem;
      margin-right: 0;
      margin-bottom: 2.2rem;
    }
  }

  .dashboard__user {
    font-size: 2.5rem;
  }

  .dashboard__nav {
    padding: 1.6rem 2rem 2rem;
    & ul {
      flex-direction: column;
      align-items: start;
      justify-content: start;
      gap: 1.2em;
    }
  }

  .dashboard__component {
    & .current-hours {
      font-size: 3.2rem;
    }
  }

  .dashboard__activities-grid {
    gap: 1.8rem;
  }

  .dashboard__component {
    margin-top: 2.8rem;
    margin-bottom: 0;

    & header {
      margin-bottom: 1.5rem;
    }
  }

  .dashboard__component:first-child,
  .dashboard__component:last-child {
    margin-top: 2.8rem;
  }
  .dashboard__component::before {
    transform: translate(-1.519rem, -73px);
  }

  .attribution {
    margin: 14rem 0 1rem;
  }
}
